<header class="header">
  <nav>
    <a
      class="btn btn-outline-success m-3"
      routerLink="/login"
      routerLinkActive="active"
      >Log in
    </a>
    <a
      class="btn btn-outline-success"
      routerLink="/registration"
      routerLinkActive="active"
      >Register
    </a>
  </nav>
</header>

<div class="register-container">
  <div class="row">
    <div class="col login">
      <div class="col-4 offset-4 mt-1 mb-5">
        <img
          src="\assets\logo-no-background.png"
          class="img-fluid"
          alt="logo"
          width="150px"
        />
      </div>
      <h1 class="main">Please register</h1>

      <div class="mb-3 Inside-icon">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          [(ngModel)]="name"
        />
        <i class="fa-regular fa-circle-user" aria-hidden="true"></i>
      </div>

      <div class="mb-3 Inside-icon">
        <input
          type="email"
          class="form-control"
          placeholder="E-mail"
          [(ngModel)]="email"
        />
        <i class="fa-regular fa-envelope"></i>
      </div>

      <div class="mb-3 Inside-icon">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="password"
        />
        <i class="fa-solid fa-lock"></i>
      </div>

      <button
        type="submit"
        class="btn btn-outline-success register-button"
        (click)="registerUser()"
      >
        Register
      </button>
    </div>
  </div>
</div>
<!-- <svg width="1000" height="600" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="a" gradientTransform="rotate(90)">
      <stop offset="5%" stop-color="#e4f7e3" />
      <stop offset="95%" stop-color="#eaf9ea" />
    </linearGradient>
    <linearGradient id="b" gradientTransform="rotate(90)">
      <stop offset="5%" stop-color="#c9efc7" />
      <stop offset="95%" stop-color="#d6f3d5" />
    </linearGradient>
  </defs>
  <path fill="#fff" d="M0 0h1000v600H0z" />
  <path
    d="M0 200c62.321-1.172 124.643-2.344 176-5s91.75-6.795 145-13 119.354-14.475 179-10 112.833 21.694 163 32c50.167 10.306 97.314 13.698 164 9s152.91-17.485 185-21c32.09-3.515 10.045 2.243 28 8l-40 400H0Z"
    fill="url(#a)"
  />
  <path
    d="M0 400c59.244 18.355 118.488 36.709 176 25 57.512-11.709 113.292-53.482 165-55 51.708-1.518 99.344 37.217 155 41 55.656 3.783 119.33-27.388 171-33 51.67-5.612 91.334 14.335 155 24s151.333 9.047 185 7c33.667-2.047 13.333-5.524 33-9l-40 200H0Z"
    fill="url(#b)"
  />
</svg> -->
