<div class="container m-10">
  <div class="row">
    <div class="col-sm-5 text-center">
      <div *ngIf="recipeDetail">
        <p>
          <span class="instname"> {{ recipeDetail.recipe_name }}</span>
        </p>
        <img class="big" [src]="recipeDetail.recipe_image" alt="Recipe Image" />
      </div>
    </div>

    <div class="col-sm-7 mt-3">
      <div class="ingr pt-5">
        <ul>
          <li *ngFor="let ingredient of recipeDetail.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </div>

      <p>
        <span class="insttekst">{{ recipeDetail.recipe_instruction }}</span>
      </p>
      <button class="btn btn-outline-success me-2" (click)="goBack()">
        Back to Recipes
      </button>
    </div>
  </div>
</div>
