.container {
  padding-top: 30px;
  background-color: rgb(217, 242, 217);
  border-radius: 35px;
  margin-top: 10px !important;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 50px;
  width: 95%;
}

span.instname {
  font-family: "Unbounded", cursive;
  font-size: 30px;
  color: black;
  font-weight: 700;

  padding-bottom: 20px;
}

span {
  font-family: "Unbounded", cursive;
  font-size: 15px;
  color: black;
  padding-top: 20px;
  font-size: 900;
}
button.btn.btn-outline-success.me-2 {
  float: right;
}
.big {
  border-radius: 25px;
  border: 1px solid #50a060;
  box-shadow: 0 0 15px rgb(63, 138, 78);
  width: 80%;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
}
span.insttekst {
  text-align: justify;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 600;
  margin-right: 60px;
}
.ingr {
  font-size: 14px;
  font-weight: 600;
}
