<header class="header">
  <div class="background">
    <div class="background-login">
      <nav>
        <a
          class="btn btn-outline-success m-3"
          routerLink="/login"
          routerLinkActive="active"
          >Log in
        </a>
        <a
          class="btn btn-outline-success"
          routerLink="/registration"
          routerLinkActive="active"
          >Register
        </a>
      </nav>

      <svg width="1000" height="600" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="a" gradientTransform="rotate(90)">
            <stop offset="5%" stop-color="#e4f7e3" />
            <stop offset="95%" stop-color="#eaf9ea" />
          </linearGradient>
          <linearGradient id="b" gradientTransform="rotate(90)">
            <stop offset="5%" stop-color="#fff" />
            <stop offset="95%" stop-color="#fff" />
          </linearGradient>
        </defs>
        <path fill="#c9efc7" d="M0 0h1000v600H0z" />
        <path
          d="M0 200c34.81-6.494 69.62-12.988 105-11 35.38 1.988 71.33 12.457 110 15 38.67 2.543 80.06-2.839 119-2s75.43 7.899 112 3c36.57-4.899 73.217-21.756 109-20 35.783 1.756 70.702 22.125 108 31s76.977 6.255 115 1c38.023-5.255 74.39-13.146 116-17 41.61-3.854 88.46-3.673 107-3 18.54.673 8.77 1.836 39 3l-40 400H0Z"
          fill="url(#a)"
        />
        <path
          d="M0 400c40.107-11.02 80.214-22.04 117-17 36.786 5.04 70.252 26.137 106 25 35.748-1.137 73.778-24.508 113-26 39.222-1.492 79.636 18.896 114 20 34.364 1.104 62.676-17.077 99-19 36.324-1.923 80.659 12.41 119 17 38.341 4.59 70.69-.564 104 2s67.584 12.844 111 9c43.416-3.844 95.976-21.813 117-26 21.024-4.187 10.512 5.406 40 15l-40 200H0Z"
          fill="url(#b)"
        />
      </svg>
    </div>
  </div>
</header>

<div class="login-container">
  <div class="row">
    <div class="col login">
      <div class="col-4 offset-4 mt-1 mb-5">
        <img
          src="\assets\logo-no-background.png"
          class="img-fluid"
          alt="logo"
          width="150px"
        />
      </div>
      <h1 class="main">Welcome to Freego!</h1>

      <div class="mb-3 Icon-inside">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          [(ngModel)]="username"
        />
        <i class="fa-regular fa-circle-user" aria-hidden="true"></i>
      </div>

      <div class="mb-3 Icon-inside">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="password"
          (keydown.enter)="login()"
        />
        <i class="fa-solid fa-lock"></i>
      </div>

      <button
        (click)="login()"
        type="submit"
        class="btn btn-outline-success login-button"
      >
        Login
      </button>
    </div>
  </div>
</div>
