.login-container {
  background-color: white;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  padding: 20px;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 5rem;
}

.header {
  height: 30px;
}

h1.main {
  text-align: center;
}

.form-control {
  border-radius: 30px;
}

.login-button {
  display: flex;
}
.Icon-inside {
  position: relative;
}

.Icon-inside i {
  position: absolute;
  left: 20px;
  top: 10px;
  padding: 10px 10px;
}
input {
  width: 100%;
  padding: 15px;
  margin: 4px;
  box-sizing: border-box;
  padding-left: 60px;
}
