<header class="header">
  <nav>
    <a
      class="btn btn-outline-success"
      routerLink="/login"
      routerLinkActive="active"
      >Log in
    </a>
    <a
      class="btn btn-outline-success"
      routerLink="/registration"
      routerLinkActive="active"
      >Register
    </a>
  </nav>
</header>
<hr />
<div class="login-container">
  <div class="row">
    <div class="col login">
      <div class="col-4 offset-4 mt-1 mb-5">
        <img
          src="\assets\logo-no-background.png"
          class="img-fluid"
          alt="logo"
          width="150px"
        />
      </div>
      <h1 class="main">Welcome!</h1>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          [(ngModel)]="username"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="password"
          (keydown.enter)="login()"
        />
      </div>

      <button
        (click)="login()"
        type="submit"
        class="btn btn-outline-success login-button"
      >
        Login
      </button>
    </div>
  </div>
</div>
