.my-container-main {
  font-family: "Unbounded", cursive;
}

.header-main {
  height: 30px;
}

.search-button {
  margin-top: 20px;
}

.card-header {
  text-align: center;
}

.ingredient {
  text-align: center;
}

.button-x {
  float: right;
}

li.button-forx {
  text-align: center;
  color: #50a060;
}

.btn-logout {
  float: right;
}

h1 {
  color: #50a060;
}

.card-header {
  color: #50a060;
}
.search-container {
  margin-top: 20px;
}
.ingredient {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.ingredient-content {
  grid-column: 1 / 2;
}

.ingredient-buttons {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
}
