.container {
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input.form-control.ng-untouched.ng-pristine.ng-valid {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
button.btn.btn-primary {
  margin-top: 3px;
  margin-left: 500px;
}
button.btn.btn-link {
  font-weight: 500;
  text-align: center;
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
  font-style: italic;
}
li.list-group-item {
  margin-bottom: 10px;
  border-radius: 5px;
  vertical-align: top;
}
.col {
  text-align: center;
}
button.btn.btn-primary.m-3.mt-2 {
  display: contents;
  font-size: 25px;
  color: black;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;

  font-size: 600;
}
.recip {
  margin-left: auto !important;
  margin-right: auto !important;
}
.filterDiet {
  margin-top: 150pxpx;
}
