<header class="header">
  <nav>
    <a routerLink="/main" routerLinkActive="active">Back to main page</a>
  </nav>
</header>
<hr />
<h1>The recipes</h1>
<div class="navbar">
  <button type="button" class="btn btn-link" (click)="filterDiet('vegan')">
    Vegan
  </button>

  <button type="button" class="btn btn-link" (click)="filterDiet('vegetarian')">
    Vegetarian
  </button>
  <button
    type="button"
    class="btn btn-link"
    (click)="filterDiet('lactose free')"
  >
    Lactose free
  </button>
  <button type="button" class="btn btn-link" (click)="filterDiet('egg free')">
    Egg free
  </button>
  <button type="button" class="btn btn-link" (click)="filterDiet('nut free')">
    Nut free
  </button>
  <button type="button" class="btn btn-link" (click)="filterDiet('keto')">
    Keto
  </button>
</div>

<div class="container-input">
  <input
    [(ngModel)]="search"
    type="search"
    class="form-control"
    placeholder="type an ingredient"
  />
  <button class="btn btn-outline-dark mt-2" (click)="searchRecipesIngr()">
    Search
  </button>
</div>
<!-- receive all recipes -->
<div class="container-content mt-5">
  <ul>
    <li *ngFor="let _recipe of _recipes">
      <img class="small" [src]="_recipe.image" alt="Recipe Image" />
      <p>{{ _recipe.name }}</p>
      <a
        class="btn btn-outline-success m-1"
        [routerLink]="['/recipes', _recipe.id]"
        >Show instruction</a
      >
    </li>
  </ul>
</div>
