<header class="header">
  <nav>
    <a routerLink="/recipes" routerLinkActive="active">Back to all recipes</a>
  </nav>
</header>
<hr />

<div class="container-content mt-5">
  <ul>
    <li *ngFor="let recipe of ingrRecipes">
      <img class="small" [src]="recipe.image" alt="Recipe Image" />

      <p>{{ recipe.name }}</p>

      <a
        class="btn btn-outline-success m-1"
        [routerLink]="['/recipes', recipe.id]"
        >Show instruction</a
      >
    </li>
  </ul>
</div>
<button class="btn btn-outline-success me-2" (click)="goBack()">
  Back to Recipes
</button>
