body {
  background-color: #50a060;
}
/* body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/225/458/small/healthy-food-and-cooking-concept-with-a-wooden-spatula-and-vegetables-on-dark-stone-background-free-photo.jpg");
  background-size: cover;
  scale: calc();
} */
