/* body {
  background-color: #50a060;
} */
body {
  font-family: "Unbounded", cursive;
  max-width: 100%;
  margin: 0 !important;
}

.container {
  margin: 0 !important;
  padding: 0;
  max-width: 100% !important;
}

/* font exactly the same as the logo*/
/* @import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Unbounded:wght@300&display=swap");
