@media (max-width: 999px) {
  .sl-ul {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-gap: 1rem !important;
    max-width: 60% !important;
  }
  .sl-div-ul {
    max-width: 80% !important;
  }
}

.background-pic {
  position: relative;
}

.shoppinglist {
  position: absolute;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.sl-div-ul {
  padding: 3rem 2rem;
  border-radius: 20px;
  background-color: darkseagreen;
  max-width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}
.btn-back {
  margin: 1.5rem 0;
}
.sl-h1 {
  text-align: center;
  padding: 8rem;
}

.sl-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.sl-ingr {
  margin: 10px;
}
.sl-ingr span {
  flex-grow: 1;
  text-align: left;
  padding-left: 1rem;
}
.links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
}
.links a {
  margin: 0.5rem;
}
