@media (max-width: 999px) {
  .sl-ul {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-gap: 1rem !important;
    max-width: 60% !important;
  }
  .sl-div-ul {
    max-width: 80% !important;
  }
}

.background-pic {
  position: relative;
}

.shoppinglist {
  position: absolute;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.sl-div-ul {
  padding: 3rem 2rem;
  border-radius: 20px;
  /* background-color: darkseagreen; */
  background-color: #c9efc7;
  max-width: 50%;
  margin: 8rem auto 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  position: relative;
  top: 2rem;
  max-height: 115%;
}
.btn-back {
  margin: 1.5rem 0;
}
.sl-h1 {
  text-align: center;
  padding: 5rem;
}

.sl-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: auto;
  height: auto;
}
.sl-ingr {
  margin: 10px;
}
.sl-ingr span {
  flex-grow: 1;
  text-align: left;
  padding-left: 1rem;
}
.links {
  position: absolute;
  top: 0;
  padding: 0.8rem;
}
.links a {
  margin: 0.5rem;
}
.sl-empty {
  height: 70%;
}
.sl-cart-icon {
  position: relative;
  left: 24rem;
  bottom: 5rem;
  width: 60%;
}

.sl-a {
  text-decoration: none;
  color: #198754;
  padding: 2px;
}
.sl-a:hover {
  color: #5cab86;
}
